@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

section { margin: 20px 40px; }

.grid {
  display: grid;
  grid-template-columns: 215px 1fr;
  min-height: 100vh;
}

.sidebar {
  padding: 20px;
  background-color: #061a31;
}

.sidebar ul {
  padding: 0 20px;
  list-style: none;
}

.sidebar li { padding: 15px 0; }

.sidebar a {
  text-align: left;
  color: white;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

.sidebar a:hover { color: #00afe6; }

.destinos .cidade {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 60px;
  text-align: center;
}

.destinos .cidade:last-child {margin-bottom: 0; }

.destinos .cidade .imagens {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media screen and (max-width: 1520px) {
  .destinos .cidade .imagens {
    flex-direction: column;
    align-items: center;
  }
}

.destinos .cidade .imagens img {
  max-width: 100%;
  width: 400px;
}

@media screen and (max-width: 1520px) {
  .destinos .cidade .imagens img { margin: 20px 0; }
}

.combustivel,
.combustivel .resultado {
  display: flex;
  flex-direction: column;
}

.combustivel .data,
.combustivel .resultado span { margin-bottom: 20px; }

.combustivel .data label { margin-right: 10px; }

.combustivel .calcular { 
  width: 100px;
  margin-bottom: 60px;
}