body{
    background-color: rgb(131, 125, 125);
    
}
#resultado{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
}
form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   
}
