@import '../prova.css';

.combustivel {
  flex: 4;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.linha{
  margin-top: 5px;
}

.linha label{
  margin-right: 5px;
}

.calcular{
  margin-top: 10px;
}

.linhaResultado{
  display: flex;
  align-items: center;
}

.linhaResultado h5{
  margin-left: 5px;
  font-style: oblique;
  font-style: bold;
}



