.destinos {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.images {
  display: flex;
  flex-direction: row;
}

.img {
  max-width: 350px;
  margin: 15px;
}
