section {
  .input-container {
    margin: 8px 0;
  }

  .result {
    display: flex;
    align-items: center;
    justify-content: center;

    &-container {
      background-color: #f3f3f3;
      margin: 40px 0;
      width: 100%;
      max-width: 30vw;
      border: 1px solid #313131;
    }

    &-row {
      display: flex;
      flex-direction: row;
      width: 100%;
    }

    &-col {
      width: 100%;

      border: 1px solid #313131;
      padding: 24px;
    }
  }
}
