body{
    background-color: rgb(209, 172, 172);
    text-align: center;
}
label{
    color: red;
}
button{
    background-color: rgb(185, 168, 168);
    color: darkviolet;
    height: 35px;
    width: 100px;
}


input{
    width: 35px;
    
}
