.select{
    /*Estilos*/
    width: 200px;
    height: 30px;
    border: 1px solid var(--main-color);

    /*Outros*/
    cursor: pointer;
}

.select > .options{
    /*Posicionamento*/
    top: 100%;
    left: -1px;
    position: absolute;

    /*Flexbox*/
    display: flex;
    flex-direction: column;
}

.select > .options > .option{
    /*Estilos*/
    width: 200px;
    height: 30px;
    background-color: var(--secondary-color);
    border: 1px solid var(--main-color);

    /*Tipografia*/
    color: var(--main-color);

    /*Flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;

    /*Animações*/
    transition: all .5s ease-in-out;
}

.select > .options > .option:hover{
    /*Tipografia*/
    color: var(--secondary-color);

    /*Estilos*/
    background-color: var(--main-color);
    border-color: var(--secondary-color);
}

.select > span{
    /*Tipografia*/
    color: var(--main-color);

    /*Posicionamento*/
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    z-index: -1;
}

.select > .chosen-option{
    left: 3px;
}

.select > .material-icons{
    right: 3px;
}

