.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

.senador {
  background: #e0e0e0;
  padding: 0px 30px;
}

.imagem {
  width: 200px;
}
