.App {
    text-align: center;
    background-color: #8d0f0f;
    color: rgb(247, 243, 243);
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .PFim{
  background-color: #5a0707;
  color: bisque;
  justify-content: center;
  display: grid;
  text-align: center;
  
  }
  
  .Space{
    margin-left: 18px;  
    }
    
  
  
  .App-header {
    background-color: #191f2c;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(77, 38, 38);
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  