.col{
    display: flex;
    text-align: center;
}
.col-1{
    width: 100%;
    height: auto;
    text-align: center;
    display: inline-block;
}
.col-9{
    width: 85%;
    height: auto;
    text-align: center;
    display: inline-block;
}
.col-3{
    width: 15%;
    height: auto;
    text-align: center;
    display: inline-block;
}

img {
    width: 300px;
    height: 200px;
}
.Inputs{
    background-color: gray;
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
    border-color: Black;
    width: 300px;
}
.Botao {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(128, 126, 126);
    color: blue;
    margin: 10px;
    border-radius: 15px;
    border: 2px solid black;
    text-decoration: none;
}

.Links{
    display: flex;
    flex-direction: column;
    margin: 15px;
}