
li{
    list-style-type: none;
    margin: 4em;
}

*{
    text-align: center;
}

.rotas{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
}

.paginainicial{
    width: 80%;
}

.cargo{
    width: 80%;
}


.campo{
    margin: 0.5em;
}

a{
    display: flex;
text-align: center;
justify-content: center;

}

h1{
    margin-left: 0.1em;
}