.rotas{
    color: rgb(38, 111, 175);
    margin-top: -21px;
    height: 100%;
    text-align: center;
}

select{
    width: 90px;
    height: 40px;
    border: rgb(25, 25, 150) solid 2px;
    border-radius: 10px;
}

img{
    width: 250px;
    height: 250px;
    padding: 20px;
}

.dest p{
    padding: 30px;
}

button{
    background-color: rgb(25, 25, 150);
    color: rgb(253, 245, 235);
    border: none;
    width: 90px;
    height: 50px;
    border-radius: 20px;
}


