@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import '../Prova.scss';

.pagina-inicial {
  font-family: 'Roboto', sans-serif;
  flex: 3;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  h1 {
    color: $primaryColor;
    margin: 0;
  }

  h3 {
    color: $primaryColor;
    margin: 0 0 15px;
  }

  hr {
    width: 50%;
    border: 1px solid $primaryColor;
  }

  select {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    width: 30%;
    text-align: center;
    padding: 5px;
    border-color: $primaryColor;
    border-radius: 5px;
  }
}
