.fuelBackground{
  border-radius: 10px;
  padding: 10px;
  background-image: url("../../assets/viagem.jfif");
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}

.fuelInput{
  width: 50%;
  padding-right: 10px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.288);
  padding: 20px;
  border-radius: 10px;
  flex-direction: column;
}

.fuelInputItem{
  display: flex;
  align-items: center;
  margin: 15px 0;
  color: white;
}

.fuelInputItem input{
  margin: 0 10px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
}

.fuelInput button{
  background-color: blue;
  padding: 10px 30px;
  width: 50%;
  font-weight: 600;
  font-size: 15px;
  border: 1px solid gray;
  border-radius: 10px;
  color: white;
}

.fuelResult{
  line-height: 2.5
}