
body{
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.Navbar {
    margin-top: 50px;
    width: max-content;
    height: 100%;
    margin-right: 1px;
}

.Link{
    width: 150px;
    color: gray;
    text-decoration: none;
}

li{
    text-decoration: none;
}

img{
    margin: 10px;
    height: 300px;
}

.corpo {
    border-left: 3px solid lightgrey;
    margin-left: 70px;
    width: 1250px;
}




