@import '../prova.css';

.destinos {
  flex: 4;
  max-height: 100vh;
  overflow-y: scroll;

}

.destinos .cidade{
  align-items: center;
  flex-direction: column;
  padding: 40px;
  display: flex;
}

.destinos .cidade .fotos img {
  margin: 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.destinos .cidade p{
    color: #000;
    font-size: 15px;
    text-align: center;
}

