* {
  margin: 0;
  padding: 0;
  outline: 0;

  box-sizing: border-box;
}

*,button, input {
  font-family: Poppins, sans-serif;
}

#container {
  width: 100vw;
  height: 100vh;
}

#container header{
  height: 60px;
  background: #6633cc;
}


#container header div {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 80%;

  font-size: 18px;
  color: #FFF;

  text-align: center;
}

#container header input {
  margin-left: 16px;
  width: 15%;

  padding: 4px 16px;
  outline: 0px;
  border: 1px solid #2b4162;
  border-radius: 8px;

  font-size: 18px
}

#container main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;

  margin: 36px 0px;
}

#container main input {
  width: 100%;
  padding: 13px 32px;
  border: 1px solid lightgray;
  outline: 0px;
  border-radius: 8px;
}

#container main .input {
  margin: 28px 0px;
}

#container main .input div:last-child {
  display:flex;
  justify-content: space-between;

  margin: 8px 0px;
}

#container main .input button {
  width: 100%;

  border: 1px solid lightgray;
  outline: 0px;
  border-radius: 4px;

  background: #6633cc;
  color: #FFF;

  font-size: 24px;
}

#container main container {
  height: 100%;
  width: 100%;
}

#container .button {
  width: 20%;
  padding: 16px 32px;
  border: 0px;
  margin: 10px;

  color: #FFF;
  background: #2b4162;

  outline: 0px;
  border-radius: 8px;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;

  position: absolute;
  bottom: 0
}

#container #reveal {
  display: none;
  right:0;
  background: #6633cc;
}

#container #results div {
  margin: 16px;
}

#container #results div span {
  font-weight: 600;
  color: #6633cc
}