button, .button{
    /*Tipografia*/
    font-weight: bold;
    color: var(--secondary-color);
    text-decoration: none;
    text-align: center;

    /*Estilo*/
    outline: 0;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    background-color: var(--main-color);
    padding: .5rem;

    /*Posicionamento*/
    margin: 5px;

    /*Animações*/
    transition: all .5s ease-in-out;
}


button:hover, .button:hover{
    cursor: pointer;
}

button:active, .button:active{
    /*Estilos*/
    background-color: var(--secondary-color);
    border: 1px solid var(--main-color);

    /*Tipografia*/
    color: var(--main-color);
}