*{
    font-family: 'Roboto', sans-serif;;
}

.routes{
    display: flex;
    flex-direction: row;
}

.foto{
    width: 200px;
}

.pages{
    margin: 30px;
}

.servico{
    margin-bottom: 20px;
}

.infos{
    padding-bottom: 30px;   
}

p{
    margin: 0;
    padding: 3px 0;
}