#area
{
  position:relative;
  left:37%;
  top:29%;
  width:320px;
  height:270px;
}
#area #formulario
{
  position:absolute;
  display:block;
}
fieldset
{
  width:300px;
  height:380px;
  background-color:lightgreen;
}

#fieldset2
{
  width:300px;
  height:150px;
}



legend
{
  font-style:bold;
  font-family: "Segoe UI";
}

#formulario label
{
  position:absolute;
  left:19px;
  margin-right:5px;
  font-size: bold;
}


#formulario input.campo_nome
{
  position:absolute;
  left:95px;
  top:23px;
  width:225px;
}
#formulario input.campo_classe
{
  position:absolute;
  left: 100px;
  margin-top:2px;
  width:225px;
}

#formulario input.pt
{
  position:absolute;
  left:205px;
  margin-top:2px;
  width:20px;
}

#formulario label.LabelPontos
{
  position:absolute;
  left: 150px;
  margin-right:100px;
}
