body{
    background-color: aqua;
}
#mae{
  
    background-color: #a0a0a0;
        text-align: center;
        border: 3px solid black;
    
}

#nome{
    border: 2px solid red;
    border-radius: 3px;
  }

#estilo{
    border: 2px solid red;
    border-radius: 10px;
}

#forca{
    border: 2px solid red;
    border-radius: 10px;
}



#pt{
    border: 2px solid red;
    border-radius: 10px;
}
 