body {
  margin: 0;
}

.page_content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 600px;
}

#formularinho {
  display: flex;
}

#resultado {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-family: serif;
  color: #402300;
}

.atributos {
  color: #c20000;
}

.cadastro {
  color: #bd1802;
}

.seupersona {
  color: #e0c200;
}

.vermelho {
  color: #bd1802;
}
