h2{
    color: blueviolet;
    text-align: center;
}

.rotas{
    display: flex;
}

.menu{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid rgb(113, 39, 182);
    height: 100vh;
}

.menu h2{

    color: blueviolet;
}

.menu a{
    padding: 5px;
}

.inicio{
    flex: 4;
    text-align: center;
}

.inicio select{

    border: 1px solid rgb(113, 39, 182);
    border-radius: 2px;
    color: rgb(113, 39, 182);
    height: 25px;
}

.destinos{
    
    flex: 4;
    max-height: 100vh;
    overflow-y: scroll;
}

.itens{

    text-align: center;
    padding: 20px;
    border-bottom: 1px solid rgb(113, 39, 182);
}

.destinos h3{
    color: blueviolet;
}


.imagens{

    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.imagens img{
    
    width: 30%;
    object-fit: cover;
}

.combustivel{
    flex: 4;
}

.dados{
    align-items: center;
    text-align: center;
}

input{
    margin: 10px;
}

.resultado{

    margin-top: 50px;
    text-align: center;
}