.menu{
    padding-top: 100px;
    background-color: whitesmoke;
    display: grid;
    width: 20%;
    height: 100%;
    position: fixed;
}

a {
    color: #000000;
    text-decoration: none;
    font-family: Bradley Hand, cursive;
    height: 30px;
    padding: 30px;
}