.mainCombustivel{
    width: 50%;
    margin-left: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.secondCombustivel{
    margin-top: 6%;
    display: flex;
    flex-direction: column;
}
.form{
    display: flex;
    flex-direction: column;
}
.btncalcular{
    margin-top: 8%;
    background-color: rgb(43, 79, 238);
    color: white;
    border: none;
    padding: 6px;
    border-radius: 5px;
}