body{
    color: white;
    background-color: brown;
    display: flex;
    flex-direction: row;
}

.form{
    margin-left: 100px;
    border: 1px solid white;
    width: 20%;
}

.atributo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.resultado{
    border:  1px solid white;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 100px;
}

.text{
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    color: black;
}

.lbl{
    margin-left: 10px;
}