@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    background-color: #0b090a;
    color:white;
    font-family: 'Roboto', sans-serif;
    border: 0;
    margin: 0;
}

img{
    width: 50rem;
}

.menu{
    position: fixed;
    top: 0;
    width: 15rem;
    height: 100%;
    background-color: #212529;
}

.menu ul{
    list-style: none;
}

button{
    padding: 0.7rem 1rem;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: white;
    margin-top: 1rem;
}

input{
    padding: 0.7rem 1rem;
    border-radius: 10px;

    outline: none;
    border: none;
    cursor: pointer;
    background-color: white;
    margin-top: 1rem;
}

select{
    padding: 0.7rem 1rem;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: white;
}

main{
    margin-left: 15rem;
    padding: 5rem;
}

.Inicio{
    display:flex;
    gap: 15px;
    align-items: center;
}

.Combustivel div{
    display: flex;
    align-items: center;
    gap: 30px;
}