@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');


$primaryColor: #fbec5d;
$secondaryColor: #ffdb58;

.prova-main {
  display: flex;
}

.ordenacao {
  font-family: 'Roboto', sans-serif;
  flex: 3;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  h1 {
    color: $primaryColor;
    margin: 0;
  }

  h3 {
    color: $primaryColor;
    margin: 0 0 15px;
  }

  hr {
    width: 50%;
    border: 1px solid $primaryColor;
  }

  input {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    width: 30%;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
  }

  .calcular {
    width: 20%;
    border-color: $primaryColor;

  }
}

.page {
  font-family: 'Roboto', sans-serif;
  flex: 3;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  h1 {
    color: $primaryColor;
    margin: 0;
  }

  h3 {
    color: $primaryColor;
    margin: 0 0 15px;
  }

  hr {
    width: 50%;
    border: 1px solid $primaryColor;
  }

}

