.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .select-bg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        background-color: blueviolet;
        padding: 20px;

        .select {
            width: 100%;
            padding: 10px;
            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            text-overflow: "";
        }
    }
}
