
.Link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    font-weight: bolder;
    font-size: 18px;
    color: deeppink;
    padding: 10px;
    border-left: solid;
    border-width: 1px;
    border-color: deeppink;
    
}

.linkcolor{
    text-decoration:none;
    font-family: Arial;
    font-weight: bolder;
    font-size: 18px;
    color:darkslateblue;
    margin-left: 10px;
}