button {
    width: 100%;
    padding: 10px;
    margin-top: 3px;
    border: none;
    background-color: blueviolet;
    color: white;
}

button:hover{
    background-color: rgb(72, 37, 105);
    color: white;
    transition: 0.3s ease-in;
}