#inicial {
  display: flex ;
  flex-direction: row;
  height:100vh;
  width: 100vw;
}
Nav { flex: 2;}
.content {flex: 6;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
