p{
    color: rgb(231, 59, 88);
  }
  
  a{
    margin: 20px;
  }
  h4{
    color: rgb(231, 59, 88);
  }
  
  h1{
    color: rgb(75, 182, 196);
  }
  
  body{
    background-color: pink;
    text-align: center;
  }
  
  button{
    background-color: powderblue;
    color: rgb(240, 81, 107);
    border: none;
    width: 150px;
    height: 45px;
    font-size: 20px;
    border-radius: 20px;
  }

  select,input, option, label{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(231, 59, 88);
    margin-bottom: 15px;
  }

  .box1, .box2{
    width: 60%;
    margin: 0 auto;
    padding: 15px;
    border: solid;
    border-color: rgb(75, 182, 196);
    border-style: dotted;
    margin-bottom: 15px;
  }

  
  